<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>division calculator Page</title>
</head>
<body>

    <a href="/multiple">Multiple Calculation</a><br>
    <a href="/division">division Calculation</a>

    <main>
        <h1>Division calculator page</h1>

        <form action="division" method="post">
            <div>
                <label for="num1">Division:</label><br><br>
                <input type="text" name="num1" id=""><br>
                <input type="text" name="num2" id=""><br>
            </div>
            <button>Submit</button>
        </form>
    </main>
    
</body>
</html>