<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple calculator Page</title>
</head>
<body>

    <a href="/multiple">Multiple Calculation</a><br>
    <a href="/division">division Calculation</a>

    <main>
        <h1>Multiple calculator page</h1><br><br>

        <form action="multiple" method="post">
            <div>
                <label for="multiple">Multiple:</label><br><br>
                <input type="text" name="firstNumber" id=""><br><br>
                <input type="text" name="secondNumber" id=""><br>
                <button>Submit</button>
            </div>
        </form>
    </main>
    
</body>
</html>